extends angular-page
mixin slider
    ul
        p article {{slider.index}} to {{slider.index + slider.step}} of {{slider.ceiling}}
           slider(floor="{{slider.floor}}"
                  ceiling="{{slider.ceiling}}"
                  step="{{slider.step}}"
                  precision="2"
                  ng-model="slider.index"
                  ng-change="onSlide()")

block content
    script(src='/angular/js/jade.js')

    div(ng-controller="Index-Controller")

        #application
        .row
            .col-3
                .lge-container
                    span(ng-click="open_Query(this, $event)")
                        span(ng-bind-html="directory_list")
                    //+directory-list
            .col-6
                .lge-container
                    span(ng-click="open_Breadcrumb(this, $event)")
                        span(ng-bind-html="breadcrumbs")
                    span(ng-bind-html="results")
                    + slider

                    span(ng-bind-html="articles_list")
                    //+breadcrumbs
                    //+results
                    //+articles-list
            .col-3
                .lge-container
                    span(ng-click="open_Filter(this, $event)")
                        span(ng-bind-html="filters_div")
                    //+filters-div