extend angular-search-form.jade

append search-input
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.0/css/foundation.min.css" )

    #search-block
        input(type="text" name="text" ng-model="text"
              autocomplete="off"
              placeholder="Locations loaded via $http"
              typeahead="address for address in getLocation($viewValue)"
              typeahead-loading="loadingLocations"
              class="form-control")