doctype html
html(lang='en')
    head
        script(src='/angular/js/lib.js')
        script(src='/angular/js/code.js')
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.0/css/foundation.min.css" )
    body
        div(ng-controller="Select-Controller")
            form(action='/search', method='GET')
                input(type="text" name="text" ng-model="text"
                      autocomplete="off"
                      placeholder="Locations loaded via $http"
                      typeahead="address for address in getLocation($viewValue)"
                      typeahead-loading="loadingLocations"
                      class="form-control")

                button#search-button(type='submit') Search

        script.
            angular.bootstrap(document, ["App"])
