extend angular-search-form.jade

append search-input
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" )
    link(rel="stylesheet" href="https://angular-ui.github.io/bootstrap/assets/demo.css")
    script(src='https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.min.js')

    #search-block
        input(type="text" name="text" ng-model="text"
              autocomplete="off"
              placeholder="Locations loaded via $http"
              typeahead="address for address in getLocation($viewValue)"
              typeahead-loading="loadingLocations"
              class="form-control")